.two{
    background-color: aquamarine;
}

.two h1{
    text-decoration: none;
}

.two h2{
    text-decoration: line-through;
}

.two h3{
    text-decoration: underline;
}

.two h4{
    text-decoration: none;
}