html{
    scroll-behavior: smooth;
    font-weight: bold;
}

.pizza-form{
    background-color: #eee;
}
input[type="text"], input[type="email"], input[type="radio"], input[type="checkbox"], hr, select, textarea{
    margin-top: 10px;
}
input[type="text"], input[type="email"]{
    width: 200px;
}

table{
    margin-top: 10px;
}
th{
    background-color: #000;
    color: white;
    padding: 5px;
}
