<form class="form" [formGroup]="AdvForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
     <label>Title</label>
      <input type="text" class="form-control" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
      <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
        <div *ngIf="f.title.errors.required">Title is required</div>
      </div>
  </div>
  <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Vishal" value="Vishal">
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Name is required</div>
      </div>
  </div>
  <div class="form-group">
    <label>Category</label>
    <select class="form-control" formControlName="category" [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
      <option>Furniture</option>
      <option>Hardware</option>
      <option>Mobile</option>
    </select>
    <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
      <div *ngIf="f.category.errors.required">Category is required</div>
    </div>
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
      <div *ngIf="f.description.errors.required">Description is required</div>
    </div>
  </div>
  <div class="form-group">
      <button type="submit" [disabled]="advFormButton" class="btn btn-success">Submit</button>
      <a href="advertisement-form/advertisement-table/" role="button" class="btn btn-primary">Show Table</a>
  </div>
</form>
<router-outlet></router-outlet>