body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 500% 500%;
    height: 910px;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1{
    font-family: 'Zilla Slab', serif;
    text-transform: capitalize;
    font-size: 3.8rem;
}

.form {
    height: auto;
    width: 60%;
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 150px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    border-radius: 2%;
    text-align: center;
}
form{
    padding: 30px;
}
input[type=text], input[type=email], input[type=password], textarea, fieldset{
    width: 92%;
    display: block;
    padding: 15px;
    margin: 0 15px 15px 15px;
}
fieldset{
    background-color: white;
}
input[type=radio], input[type=checkbox]{
    margin: 15px;
    float: left;
    display: inline;
}
label{
    float: left;
    margin-top: 12px;   
}
.btn input[type=submit] {
    border: 1px solid #242424;
    border-radius: 3px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: white;
    background-color: #23d5ab;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    transition: 0.3s ease;
}
.btn input[type=submit]:hover {
    color: #23a6d5;
    background: white;
    text-decoration: none;
}

