@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
html{
    scroll-behavior: smooth;
    font-family: 'Titillium Web', sans-serif;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

a{ text-decoration: none; }

.header {
    height: 70vh;
	background-image: url('img-landing/landing.jpg');
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
.header::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.6;
	z-index: -1;
}
.center{
    width: 100%;
    height: auto;
    font-weight: bold;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.center h1{
    font-size: 3rem;
    color: whitesmoke;
}
.center span{
    font-size: 20px;
    color: whitesmoke;
}
.tagline{
    margin-left: 200px;
    margin-right: 200px;
}
.center a {
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: 0 5px;
    padding: 15px 35px;
    outline: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    transition: .3s ease;
	transition-property: background-color, color;
}
.center a:hover {
    color: rgba(0, 0, 0, 0.850);
    background: #ffffff;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.about{
    padding: 30px 0 50px 50px;
    text-align: center;
    background-color: lightgray;
}
.about h1{
    font-size: 2rem;
}
.column {
    float: left;
    width: 50%;
    height: 100px;
    text-align: center;
    transition: 0.3s ease;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.tagline-left{
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 20px;

}
.tagline-right{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 200px;
}

.service-style{
    padding: 50px;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    overflow: hidden;
	z-index: 1;
}
.service{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(350px, 1fr));
}

.service .card{
    position:relative;
    margin:0 auto;
    width:350px;
    background: whitesmoke;
    padding:35px;
    box-sizing:border-box;
    text-align:center;
    overflow:hidden;
}
.service .card .content{
    position:relative;
    z-index:2;
}
.service .card .content .details img{
    margin-left: -50px;
    margin-top: -50px;
    height: 250px;
    width: 365px;
}
.service .card .content h1{
    color: #242424;
    margin-top: 20px;
    margin-bottom: 10px;
}
.service .card .content p{
    color: #242424;
    font-size: 0.9rem;
    line-height: 1.4rem; 
    display: block;
    text-align: center;
    letter-spacing: 1.5px;
	font-weight: 400;
}

.needs{
    margin-top: 50px;
    padding: 0 50px 50px 50px;
    text-align: center;
}
.needs h1{
    font-size: 2rem;
    margin-bottom: 30px;
}
.needs .tagline{
    margin-left: 300px;
    margin-right: 300px;
}

.last{
    margin-top: 20px;
}
.last h1{
    color: whitesmoke;
    margin-top: 20px;
    margin-bottom: 20px;
}
.last p{
    color: whitesmoke;
}
.last .tagline{
    margin-left: 100px;
    margin-right: 100px;
}

.footer{
    background-color: black;
}
.footer h3{
    color: whitesmoke;
    margin-top: 30px;
}