html {
    scroll-behavior: smooth;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

a{ text-decoration: none; }

.header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('img-tribute/dhoni1.jpg');
    background-position: center;
    background-size: cover;
    z-index: 999;
}
.header::after{
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.4;
	z-index: -1;
}
.title{
    width: 100%;
    height: auto;
    position: absolute;
    text-align: center;
    display: block;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    line-height: 30px;
    color: azure;
    font-family: 'Redressed', cursive;
}
.title h1{
    font-size: 5rem;
}

.section{
    display: flex;
    margin: 30px 30px 0 30px;
}
.section-content{
    flex: 1;
    padding: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.section-content:first-child{
    padding: 30px;
}
.section-content h1{
    color: #01273a;
    letter-spacing: 1.5px;
    font-weight: bold;
    padding: 0 0 30px 0;
    text-align: center;
}
.section-content p{
    font-size: 1.5rem;
    line-height: 1.9rem; 
    color: rgba(0, 0, 0, 0.8);
    display: block;
    letter-spacing: 1.5px;
	font-weight: 400;
}
.section-content img{
    box-sizing:border-box;
    box-shadow:0 10px 10px rgba(0, 0, 0, 0.5);
}
.section-content hr{
    width: 75%;
    margin-left: 80px;
    margin-bottom: 20px;
    color: #242424;
    background-color: #242424;
}

table{
    border-collapse: collapse;
    width: 100%;
    font-size: 0.9em;
    table-layout: fixed;
    word-wrap: break-word;
    font-weight: 400;
    line-height: 1.2rem;
    letter-spacing: 1.5px;
}
td, th {
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    padding: 8px;
  }
  
tr:nth-child(even){background-color: white;}
  
tr:hover {background-color: #ddd;}
  
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgba(0, 0, 128, 0.7);
    color: white;
    text-transform: uppercase;
}

.timeline{
    margin: 30px 170px 0 170px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.timeline h1{
    color: #01273a;
    letter-spacing: 1.5px;
    font-weight: bold;
    padding: 0 0 30px 0;
    text-align: center;
}
.timeline hr{
    width: 70%;
    margin-left: 150px;
    margin-bottom: 20px;
    color: #242424;
    background-color: #242424;
}
.timeline li{
    font-size: 1.2rem;
    line-height: 2rem; 
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: 1px;
	font-weight: 300;
    list-style-type: disc;
    text-align: left;
    vertical-align: middle;
}
.timeline a{
    text-align: right;
}

.quote {
    position: relative;
    padding-left: 1em;
    border-left: 0.2em solid #01273a;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2em;
    line-height: 2em;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 50px;
  }
  .quote:before, .quote:after {
    font-family: Calibri;
      color: #039be5;
      font-size: 34px;
  }
  .quote:before {content: ''}
  .quote:after {content: '';}
  .quote cite {font-size: 80%; text-align:center; top:50%}
  .quote cite:before {content: '\2015'}

.footer-details{
    margin: 0 0 50px 0;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.9rem; 
    color: rgba(0, 0, 0, 0.8);
    display: block;
    letter-spacing: 1.5px;
	font-weight: 400;
    font-family: 'Open Sans Condensed', sans-serif;
}
.footer-hr{
    width: 100%;
    margin: 30px 0 30px 0;
    color: #242424;
    background-color: #242424;
}