<div class="row">
    <div class="col-lg-6">
            <a (click) = "toggle()" role="button" class="btn btn-primary">Admin</a>
    </div>
    <div class="col-lg-6">
        <a href="user/" role="button" class="btn btn-success">User</a>
    </div>
</div>
<div class="row" [hidden] = "!showAdminMenu">
    <div class="col-lg-6">
        <a href="admin/menu/" role="button" class="btn btn-primary">Menu</a>
    </div>
    <div class="col-lg-6">
        <a href="admin/restaurant/" role="button" class="btn btn-success">Restaurant</a>
    </div>
</div>
<router-outlet></router-outlet>