<div class="row">
  <div class="col-lg-6">
    <a href="/" role="button" class="btn btn-primary">Admin</a>
  </div>
  <div class="col-lg-6">
    <a href="user/" role="button" class="btn btn-success">User</a>
  </div>
</div>
<div class="row">
    <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Restaurant Name</th>
              <th scope="col">Email</th>
              <th scope="col">Address</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody *ngFor = "let res of resList">
            <tr>
              <th scope="row"> {{ res.resName }} </th>
              <td>{{ res.email }}</td>
              <td>{{ res.address }}</td>
              <td>
                  <a href="user/user-menu/{{ res.id }}" role="button" class="btn btn-success">Select</a>
              </td>
            </tr>
          </tbody>
      </table>    
  </div>
  <router-outlet></router-outlet>