<div class="row">
  <div style="margin-left: 880px;">
    <a href="admin/menu/menu-add/" role="button" class="btn btn-primary">Add Menu</a>
  </div>
  <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Food Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Sizes</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let menu of menuList">
          <th scope="row"> {{ menu.foodName }} </th>
          <td>{{ menu.qty }}</td>
          <td>{{ menu.sizes }}</td>
          <td>
            <a href="admin/menu/menu-edit/{{ menu.id }}" role="button" class="btn btn-success"><i class="fas fa-edit"></i></a>
            <a href="admin/menu/menu-delete/{{ menu.id }}" role="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
            <a href="admin/menu/add-menu-res/{{ menu.id }}" role="button" class="btn btn-primary">Add to the Restaurant</a>
        </td>
        </tr>
      </tbody>
  </table>    
</div>
<router-outlet></router-outlet>