/* You can add global styles to this file, and also import other style files */
a { text-decoration: none!important; }

.nav-link, .navbar-brand{
    color: white;
}

.input-group{
    margin: 6px;
}

hr{
    text-align: center;
    width: 25%;
}

#airlines .icon-boxes {
    margin-top: 50px;
}
#airlines .icon-box {
    padding: 0px 30px 20px 30px;
    position: relative;
    height: auto;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
}
#airlines .icon-box .title {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}
#airlines .icon-box .title a {
    color: #124265;
    transition: 0.3s;
}
#airlines .icon-box .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}
#airlines .icon-box .icon {
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 36px;
    line-height: 1;
    color: #2487ce;
}
#airlines .icon-box:hover {
    transform: scale(1.08);
}
#airlines .icon-box:hover .title a {
    color: #2487ce;
}
@media (min-width: 1024px) {
    #airlines {
        background-attachment: fixed;
    }
}
@media (max-height: 800px) {
    #airlines {
        height: auto;
    }
}

@media (max-width: 992px) {
    #airlines {
        height: auto;
    }
    #airlines h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #airlines h2 {
        font-size: 18px;
        line-height: 24px;
    }
}

.section-bg {
    background-color: #f8fbfe;
}
  
.section-title {
    margin-top: 50px;
    text-align: center;
}
  
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 0;
    color: #124265;
}
  
.section-title p {
    margin-bottom: 0;
    font-size: 14px;
    color: #919191;
}