<section id="airlines" class="d-flex justify-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="section-title">
        <h2>All Flights</h2>
      </div>
      <hr>
      <div class="col-12 align-items-center justify-content-center" data-aos="zoom-in" data-aos-delay="200">
        <div class="card">
          <div class="card-header"><b>Airline: </b>IndiGo</div>
          <div class="row card-body">
            <div class="col-lg-2 text-center">
              <img src="../../../assets/img/indigo.jpg" alt="" height="150" width="150">
            </div>
            <div class="col-lg-8">
              <h5 class="card-title"><b>PNQ Pune, India to MAA Chennai, India</b></h5>
              <p class="card-text"><b>Departure:</b> </p>
              <p class="card-text"><b>Arrival:</b> </p>
              <p class="card-text"><b>Available Seats:</b> 25</p>
            </div>
            <div class="col-lg-2 text-center mt-4">
              <h4>{{ money | currency:'INR':'symbol-narrow' }} </h4>
              <a href="#" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </section>