<section id="airlines" class="d-flex justify-items-center">
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
    <div class="section-title">
      <h2>Airlines</h2>
    </div>
    <hr>
    <div class="row icon-boxes">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="ri-stack-line"></i></div>
          <h4 class="title"><a href="">Lorem Ipsum</a></h4>
          <img src="../../assets/img/air-india.png" alt="" height="200" width="200">
          <!--<p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>-->
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="ri-stack-line"></i></div>
          <h4 class="title"><a href="">Lorem Ipsum</a></h4>
          <img src="../../assets/img/indigo.jpg" alt="" height="200" width="200">
          <!--<p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>-->
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box">
          <div class="icon"><i class="ri-stack-line"></i></div>
          <h4 class="title"><a href="">Lorem Ipsum</a></h4>
          <img src="../../assets/img/jet-airways.jpg" alt="" height="200" width="200">
          <!--<p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>-->
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
        <div class="icon-box">
          <div class="icon"><i class="ri-stack-line"></i></div>
          <h4 class="title"><a href="">Lorem Ipsum</a></h4>
          <img src="../../assets/img/SpiceJet.png" alt="" height="200" width="200">
          <!--<p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>-->
        </div>
      </div>

    </div>
  </div>
</section>